*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Libre Baskerville', serif;  
  padding-bottom: 5em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #333;
  padding: 0.5rem;
  font-size: 1rem;

  a {
    color: #333;
  }
}

.container {
  width: 100%;
  max-width: 45em;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.2em;
  margin: .67em 0
}

h2 {
  font-size: 2em;
  margin: 2em 0 .75em;
}

h3 {
  font-size: 1.6em;
  margin: 1.2em 0 .5em;
}

h4 {
  font-size: 1.4em;
  margin: 0.8em 0 0.3em;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0
}

h6 {
  font-size: .75em;
  margin: 1.67em 0
}

p {
  margin-bottom: 1em;
  line-height: 1.4;
  &:last-of-type {
    margin-bottom: 0;
  }
}

time {
  display: block;
  font-size: 1em;
  margin: .75em 0;
  font-style: italic;
}

blockquote {
  border-left: 0.25em solid #e4e4e4;
  padding-left: 1.2em;
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 1.75em;
  display: block;
}

article ul {
  padding-left: 1em;
  margin-bottom: 1em;  
}

.report article img {
  width: 100%;
}

article figure.small {
  max-width: 20rem;
}

article figure.left {
  float: left;
}

article figure.right {
  float: right;
}

article figure.half {
  width: 48%;
  width: calc(50% - 0.5rem);
}

article figure.half.left {
  margin-right: 1rem;

  + figure.half {
    margin-right: 0;
  }
}

article figure.half.right {
  + figure.half {
    margin-left: 1rem;
  }
}

article figure + h4 {
  clear: both;
}

article figure img {
  border: 2px solid #bdc3c7;
  cursor: pointer;
}

article ul {
  line-height: 1.5rem;
}

figcaption {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-style: italic;

  &:before {
    content: '↑';
    display: inline-block;
    margin-right: 0.4rem;
    font-style: normal;
  }
}

.lightbox {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  img {
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
  }

  button.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background: white;

    &:before, &:after {
      content: '';
      position: absolute;
      height: 60%;
      width: 0.2rem;
      background-color: #7f8c8d;
      top: 20%;
      left: calc(50% - 0.1rem);
      border-radius: 0.2rem;
    }

    &:after {
      content: '';
      transform: rotate(45deg);
    }
    
    &:before {
      content: '';
      transform: rotate(-45deg);
    }
  }
}

// transitions
.page-enter-active, .page-leave-active {
  transition: all .2s ease-out;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.page-enter {
  transform: translateY(1em);
}

.page-leave-active {
  transform: translateY(-1em);
}